<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QUIZ APP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/app.css" />

</head>

<body>
    <div class="modal-result" id="result-modal">
        <div class="modal-result-content animated fadeInDown">
            <div class="quiz-status-container"></div>
                <div class="quiz-status-text"></div>
            </div>
        </div>
    </div>
    <section class="header">
        <h1 class="header-title">QUIZ App</h1>
    </section>

    <section class="quiz-body">
        <div class="quiz-questions"></div>
    </section>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/popmotion.global.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>